@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply mx-2 px-6 py-2 border border-[#242424] rounded-full uppercase text-sm tracking-widest text-gray-500 transition-all 
    hover:border-[#C2571A]/40 hover:text-[#C2571A]
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424]
    text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40
    focus:text-black hover:border-[#F7AB0A]/40
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* For Internet Explorer 10+ */
  scrollbar-width: none;  /* For Firefox */
}

.main {
  background-color: #f7f9fc;
}

.carousel-inner span {
  display: flex;
  gap: 40px;
}

.carousel-wrapper .carousel-block {
  --total-marquee-items: 5;
  height: 140px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 20px auto;
  padding: 2rem 0;
}

.carousel-inner {
  display: flex;
  width: 100%;
  position: absolute;
}

.carousel-item {
  width: 120px;
  height: auto;
  margin: 0 auto;
  transition: all .2s ease-out;
}

.carousel-item:last-child {
  margin: 0 50px 0 20px;
}

.carousel-left {
  animation: carouselLeft 35s linear infinite;
}
.carousel-right {
  animation: carouselRight 35s linear infinite;
}

@media (max-width: 640px) {
  .carousel-wrapper .carousel-block {
    height: 100px;
  }

  .carousel-item {
    width: 60px;
  }
  
  .carousel-left {
    animation: carouselLeft 15s linear infinite;
  }
  .carousel-right {
    animation: carouselRight 15s linear infinite;
  }
  
}


@keyframes carouselLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes carouselRight {
  0% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Default styles (for desktops or larger screens) */
.about-wrapper {
  height: 700px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.about-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.about-text {
  letter-spacing: 0.025em;
  line-height: 225%;
}

/* Tablet styles: Apply when screen width is 768px or more but less than 1024px */
@media (max-width: 1024px) {
  .about-wrapper {
    height: 600px;
    padding-left: 1.2rem;
    padding-right: 0rem;
  }
  .about-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .about-text {
    letter-spacing: 0.025em;
    line-height: 130%;
    font-size: 95%;
  }
}

/* Additional styles for larger screens (min-width 900px) */
@media (min-width: 800px) {
  .about-text {
    line-height: 220% !important;
    font-size: 77%;
  }
}

@media (min-width: 900px) {
  .about-text {
    font-size: 85%;
  }
}

@media (min-width: 1024px) {
  .about-text {
    font-size: 95%;
  }
}

/* Mobile styles: Apply when screen width is 767px or less */
@media (max-width: 767px) {
  .about-wrapper {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1rem;
  }
  .about-title {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .about-text {
    letter-spacing: 0.025em;
    line-height: 105%;
    font-size: 100%;
  }
}

@media (min-width: 500px) {
  .about-text {
    font-size: 95%;
  }
}

@media (min-width: 600px) {
  .about-img {
    margin-top: 7rem;
  }
}